:root {
    --primary-100: #1A237E;
    --primary-200: #534bae;
    --primary-300: #b8a6ff;
    --accent-100: #1565C0;
    --accent-200: #cbf5ff;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #0F1C3F;
    --bg-200: #212b50;
    --bg-300: #3b426a;
}

body{
    background-color: var(--bg-100);
    margin: 0;
    padding: 0;
    color: var(--text-100);
    font-family: 'Nunito', sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: var(--bg-200);
}

.nav-links a{
    text-decoration: none;
    color: var(--primary-300);
    transition: color 0.3s linear;
    font-size: 20px;
}

#link-cadastro{
    margin-right: 32px;
}

#link-login{
    margin-right: 64px;
}


.nav-links a:hover{
    color: var(--primary-200);
}

#logo{
    margin-left: 32px;
}

.products-heading{
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 64px 32px 16px 32px ;
}

.products-heading span{
    font-size: 28px;
    color: var(--text-200);
}

#search-input{
    background-color: var(--text-200);
    width: 250px;
    padding: 12px 12px 12px 32px;
    height: 37px;
    border-radius: 8px;
    border: none;
    margin-left: 32px;
    color: #252525;
}

#search-svg{
    position: relative;
    width: 27px;
    height: 27px;
    right: 255px;
}

#search-input:focus{
    outline: none;
    caret-color: #1565C0;
}
#card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    padding: 8px 32px 32px 32px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 190px;
    max-height: 350px;
    padding: 12px;
    background:  var(--bg-300);
    position: relative;
    margin: 10px;
    border-radius: 4px;
    color: var(--text-100);

   }
   
   .card-img {
    background-color: #FFFFFF;
    height: 120px;
    width: 100%;
    border-radius: 6px;
    transition: .3s ease;
   }
   
   .card-info {
    padding: 0;
    overflow: hidden;
   }
   
   svg {
    width: 22px;
    height: 22px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 8px 0;
   }

   hr{
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--primary-200) 0%, var(--primary-300) 100%);
    border: none;
   }

   .text-title {
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
   }

   p.text-title{
    margin: 28px 0 14px 0;
   }
   
   .text-body {
    height: 40px;
    max-height: 40px;
    font-size: 14px;
    word-wrap: break-word;
    margin: 0 0 14px 0;
    color: var(--text-200);
   }

   .card-button {
    border: 1px solid var(--accent-100);
    display: flex;
    padding: 6px;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s ease-in-out;
   }

   .card-img:hover {
    transform: translateY(-3%);
    box-shadow: rgba(129, 129, 129, 0.7) 0px 8px 18px -5px;
   }
   
   .card-button:hover {
    border: 1px solid var(--accent-200);
    background-color: var(--accent-200);
}
