:root {
    --primary-100: #1A237E;
    --primary-200: #534bae;
    --primary-300: #b8a6ff;
    --accent-100: #1565C0;
    --accent-200: #cbf5ff;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #0F1C3F;
    --bg-200: #212b50;
    --bg-300: #3b426a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-100);
    color: var(--text-100);
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 10px;
    background: linear-gradient(90deg, rgba(83,75,174,0.5) 0%, rgba(184,166,255,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#menu-icon-content{
    display: none;
}

.separator{
    width: 90%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.5) 100%);
    height: 1px;
    border: none;
    margin-bottom: 16px;
    
}

.wrapper {
    display: flex;
    height: 100vh;
}


nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    padding-left: 8px;
    background-color: var(--bg-300);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
    overflow: hidden;
}

nav.closed {
    width: 0;
    padding: 0;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin-left: 8px;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 15px 15px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-100);
    display: block;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--primary-200);
}

.nav-bottom-elements-container{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.nav-bottom-elements-container a{
    padding: 15px 15px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-100);
    display: block;
    transition: color 0.3s ease;
}

#log-out-container{
    margin-bottom: 24px;
}

.nav-bottom-elements-container a:hover{
    color: var(--primary-200);
}

.content {
    flex-grow: 1;
    padding: 18px;
}

.content .statistics {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.content .statistics div {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--bg-200);
    border-radius: 10px;
    text-align: center;
}

.content .statistics div .graph-placeholder {
    width: 90%;
    height: 200px;
    background: rgb(26,35,126);
    background: linear-gradient(140deg, rgba(26,35,126,1) 0%, rgba(83,75,174,1) 50%, rgba(184,166,255,1) 100%);
    border-radius: 10px;
    margin-top: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
}


.content .statistics div .graph-placeholder canvas {
    width: 100%;
    height: 100%;
}
